# Dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

# Native builds
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
ios/
android/

# Environment
.env
.env.local
.env.*.local

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store

# Editor
.vscode/
*.swp
*.swo

# TypeScript
*.tsbuildinfo

# Metro
.metro-health-check*
